@font-face {
  font-family: 'tdk';
  src:  url('../fonts/tdk.eot');
  src:  url('../fonts/tdk.eot#iefix') format('embedded-opentype'),
    url('../fonts/tdk.ttf') format('truetype'),
    url('../fonts/tdk.woff') format('woff'),
    url('../images/tdk.svg#tdk') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="tdk-icon-"], [class*=" tdk-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tdk' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tdk-icon-invest-fund-ex1:before {
  content: "\e932";
}
.tdk-icon-invest-fund-2:before {
  content: "\e933";
}
.tdk-icon-post:before {
  content: "\e931";
}
.tdk-icon-healthtec:before {
  content: "\e900";
}
.tdk-icon-hq:before {
  content: "\e901";
}
.tdk-icon-industrial:before {
  content: "\e902";
}
.tdk-icon-investing:before {
  content: "\e903";
}
.tdk-icon-ipo:before {
  content: "\e904";
}
.tdk-icon-keynotes:before {
  content: "\e905";
}
.tdk-icon-learnings:before {
  content: "\e906";
}
.tdk-icon-linkedin:before {
  content: "\e907";
}
.tdk-icon-maa:before {
  content: "\e908";
}
.tdk-icon-medium:before {
  content: "\e909";
}
.tdk-icon-member:before {
  content: "\e90a";
}
.tdk-icon-members:before {
  content: "\e90b";
}
.tdk-icon-mobility:before {
  content: "\e90c";
}
.tdk-icon-news:before {
  content: "\e90d";
}
.tdk-icon-nextgen:before {
  content: "\e90e";
}
.tdk-icon-partner:before {
  content: "\e90f";
}
.tdk-icon-pin:before {
  content: "\e910";
}
.tdk-icon-scaling:before {
  content: "\e911";
}
.tdk-icon-search:before {
  content: "\e912";
}
.tdk-icon-startup:before {
  content: "\e913";
}
.tdk-icon-sustain:before {
  content: "\e914";
}
.tdk-icon-tag:before {
  content: "\e915";
}
.tdk-icon-tdk:before {
  content: "\e916";
}
.tdk-icon-team:before {
  content: "\e917";
}
.tdk-icon-video:before {
  content: "\e918";
}
.tdk-icon-x:before {
  content: "\e919";
}
.tdk-icon-youtube:before {
  content: "\e91a";
}
.tdk-icon-arrowout:before {
  content: "\e91b";
}
.tdk-icon-article:before {
  content: "\e91c";
}
.tdk-icon-aum:before {
  content: "\e91d";
}
.tdk-icon-calendar:before {
  content: "\e91e";
}
.tdk-icon-capital:before {
  content: "\e91f";
}
.tdk-icon-career:before {
  content: "\e920";
}
.tdk-icon-category:before {
  content: "\e921";
}
.tdk-icon-check:before {
  content: "\e922";
}
.tdk-icon-cheveronleft:before {
  content: "\e923";
}
.tdk-icon-cheveronright:before {
  content: "\e924";
}
.tdk-icon-company:before {
  content: "\e925";
}
.tdk-icon-compute:before {
  content: "\e926";
}
.tdk-icon-cvi:before {
  content: "\e927";
}
.tdk-icon-dxweek:before {
  content: "\e928";
}
.tdk-icon-energy:before {
  content: "\e929";
}
.tdk-icon-engagement:before {
  content: "\e92a";
}
.tdk-icon-eweek:before {
  content: "\e92b";
}
.tdk-icon-explore:before {
  content: "\e92c";
}
.tdk-icon-fellows:before {
  content: "\e92d";
}
.tdk-icon-fivestar:before {
  content: "\e92e";
}
.tdk-icon-global:before {
  content: "\e92f";
}
.tdk-icon-goodness:before {
  content: "\e930";
}
