body {
  font-family: system-ui;
  line-height: 1.5;
}

main {
  width: fit-content;
  margin: auto auto;
  padding: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 450;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

p {
  font-weight: 350;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

a {
  color: #7f1d1d;
  font-weight: 350;
  font-size: 1rem;
  margin-right: 1rem;
}
